<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Task-Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('tasksIndex') }}">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('usersIndex') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">Log out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            <li id="user" class="nav-link">{{ app.user }}</li>
        </ul>
    </div>
</nav>